/* ===================== 
Start: TAB STYLES      
======================== */
.nav-tabs {
  text-align: center;
}
@media (min-width: 992px){
  
}
.nav-tabs > li {
    display: inline-block;
  } 
.nav-tabs-modal {
  margin-bottom: 15px;
}
.nav-tabs-modal li a {
    font-size: 18px;
    padding: 10px 25px;
    text-decoration: none;
    background-color: #ffd6a7;
    @include color("dark-blue");
    @extend .bold;
    text-transform: uppercase;
    display: inline-block;
}
@media (max-width: 767px){
  .nav-tabs-modal li a{
    min-width: 190px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 15px;
  }
}
.nav-tabs-modal li.active a {
  background-color: #a9e0fb;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
/* =====================
End:  TAB STYLES
======================== */