.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
   max-height: 100%;
    vertical-align: middle;   
  }
}
@for $i from 4 through 5{
  .mt-#{$i}{
    margin-top: 5px * $i;
  }
  .mb-#{$i}{
    margin-bottom: 5px * $i;
  }
}
/* ===================== 
Start: BUTTON      
======================== */
.btn {
  border: none;
  border-radius: 3px;
  max-width: 100%;
  padding: 15px 40px;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  text-decoration: none;
  z-index: 2;
  @extend .block-inline;
  @extend .light-blue;
  @include size(text_default);
  &-effect{
   &:before{
      content: "";
      position: absolute;
      transition: all .3s;
      z-index: -1;
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%; 
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }   
    &:hover{
      &:before{
        height: calc(330% - 40px);
        opacity: 1;
      }
    }
  }
  &-orange{
    background-color: map-get($colors, "orange");
    &:before{
      background-color: #ffae66;
    }
  }
  &-purple{
    background-color: #b0b8fb;
    &:before{
      background-color: #cfd4fd;
    }
  }
  &-green{
    background-color: #9dede8;
    &:before{
      background-color: #bbf2ef;
    }
  }
  &-single{
    @include resp-min(sm){
      margin-top: 70px;
    }
    @include resp-max(sm){
      margin-top: 35px;
    }
    &.no-mt{
      @extend .no-mt;
    }
  }
}
/* =====================
End:  BUTTON
======================== */
.bg{
  &-grey{
    background-color: #f6f6f6;
  }
  &-blue{
    background-color: #a9e0fb;
  }
}
.list{
  li{
    position: relative; 
    &:after{
      content: "";
      position: absolute;
      top: 0;
    }
    @include resp-min(sm){
      margin-bottom: 15px;
      &:after{
        left: 0;
      }
    }
    @include resp-max(sm){
      text-align: center;
      margin-bottom: 30px;
      &:after{
        left: 50%;
      }
    }
  }
  &-check{
    &-orange{
      li{
        &:after{
          width: 17px;
          height: 16px;
          @include bg("../img/checkOrange.png", 0 0, no-repeat, cover);
        }
      }
    }
    &-purple{
      li{
        &:after{
          width: 17px;
          height: 19px;
          @include bg("../img/checkPurple.png", 0 0, no-repeat, cover);
        }
      }
    }
    @include resp-min(sm){
      li{
        padding-left: 25px;
        &:after{
          top: 50%;
          margin-top: -8px;
        }
      }
    }
    @include resp-max(sm){
      li{
        padding-top: 15px;
        margin-bottom: 15px;
        &:after{
          top: 0;
        }
      }
    }
  }
  &-garant{
    .img{
      position: absolute;
      
      width: 40px;
      text-align: center;
    }
    @include resp-min(sm){
      li{
        padding-left: 50px;
        margin-bottom: 30px;
      }
      .img{
        left: 0;
        top: 50%;
        margin-top: -25px;
      }
    }
    @include resp-max(sm){
      li{
        padding-top: 50px;
        margin-bottom: 15px;
        .img{
          top: 0;
          left: 50%;
          margin-left: -20px;
        }
      }
    }
  }
}
.step{
  &-w{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-b{
    position: relative;
    &-num{
      font-size: 85px;
      @include resp-min(md){
        font-size: 130px;
      }
      @extend .bold;
      &-purple{
        color: #b1b9fc;
      }
      &-ocean{
        color: #9dede8;
      }
      &-blue{
        color: #b5e5fb;
      }
    }
  }
  @include resp-min(xs){
    &-w{
      margin-bottom: 50px;
    }
    &-b{
      padding-left: 90px;
      &-num{
        position: absolute;
        left: 0;
        top: -45px;
      }
    }
  }
  @include resp-max(xs){
    &-b{
      text-align: center;
    }
  }
}
.legs{
  @include bg("../img/legs.jpg", 0 0, no-repeat, cover);
  margin-bottom: 100px;
}
.border{
  &-b{
    border: 5px solid #9dede8;
    padding: 15px;
    @include resp-min(lg){
      padding: 25px;
    }
    &-big-p{
      padding-left: 60px;
      padding-right: 60px;
    }
    @include resp-max(sm){
      .subtitle{
        text-align: center;
      }
    }
  }
}
.formula{
  &-b{
    display: inline-block;
    padding: 0 25px;
    @extend %relative;
    @include resp-max(md){
      @include resp-min(sm){
        width: 50%;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        margin-left: -0.5em;
      }
    }

    &-img{
      height: 50px;
      margin-bottom: 15px;
      @extend .vertical-image;
    }
    &-plus,
    &-equally{
      &:after{
        position: absolute;
        font-size: inherit;
        color: inherit;
        bottom: 0;
        right: -10px;
      }
    }
    &-plus{
      &:after{
        content: "+";
      }
    }
    &-equally{
      &:after{
        content: "=";
      }
    }
    @include resp-max(sm){
      padding-bottom: 25px;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
      }
      &-plus,
      &-equally{
        &:after{
          left: 50%;
          right: auto;
          margin-left: -5px;
        }
      }
    }
  }
}
.programm{
  &-oh{
    @include resp-min(sm){
      min-height: 320px;
    }
    @include resp-max(md){
      margin-top: 15px;
    }
  }
}
.arrow{
  &-top{

  }
  &-bottom{
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -80px;
    border: 80px solid transparent;
    border-top: 80px solid #f6f6f6;
  }
}
.motiv{
  &-b{
    @extend .text-center;
    @include resp-min(sm){
      min-height: 250px;
    }
    @include resp-max(md){
      margin-bottom: 30px;
    }
    &-img{
      height: 80px;
      margin-bottom: 15px;
      @extend .vertical-image;
    }
  }
}
.team{
  &-b{
    &-name,
    &-pos,
    &-img{
      @extend .text-center;
    }
    &-name{
      font-size: 25px;
      margin-bottom: 15px;
    }
    &-pos{
      font-size: 20px;
      @extend .medium;
      @include resp-min(md){
        @include resp-max(lg){
          min-height: 60px;
        }
      }
    }
    
    &-img{
      margin: 35px 0;
      img{
        border-radius: 100%;
        border: 8px solid #fff;
        animation-name: team-img;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    &-text{
      @extend .max-md-center;
    }
    &-w{
      &:nth-child(1){
        .team-b-img{
          img{
            animation-delay: 0s;
          }
        }
      }
      &:nth-child(2){
        .team-b-img{
          img{
            animation-delay: 1s;
          }
        }
      }
      &:nth-child(3){
        .team-b-img{
          img{
            animation-delay: 1.5s;
          }
        }
      }

    }
    @include resp-max(md){
      &-w{
        margin-bottom: 30px;
      }  
    }
    &:hover{
      .team-b-img{
        img{
          
        }
      }
    }
  }
}
@keyframes team-img{
  0%,100%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(1deg);
    border-color: rgba(169, 224, 251, 0.21);
  }
  40%{
    transform: rotate(-1deg);
  }
  60%{
    transform: rotate(1deg);
    border-color: rgba(177, 185, 252, 0.30);
  }
  80%{
    transform: rotate(-1deg);
  }
}
.price{
  &-b{
    padding-left: 7.5px;
    padding-right: 7.5px;
    @include column_flex(100);
    @extend .text-center;
    @include resp-min(md){
      @include column_flex(33.3333);
    }
    @include resp-max(md){
      margin-bottom: 45px;
    }
    &-inner{
      height: 100%;
      padding-bottom: 180px;
      position: relative;
      -webkit-box-shadow: 0 3px 40px rgba(12,12,17,.27);
      -moz-box-shadow: 0 3px 40px rgba(12,12,17,.27);
      box-shadow: 0 3px 40px rgba(12,12,17,.27);
    }
    
    //COLOR PRICE
    &-price{
      &-low{
        .price-b-name{
          background-color: #bbf2ef;
        }
        .price-b-value{
          background-color: #9dede8;
        }
      }
      &-middle{
        .price-b-name{
          background-color: #cfd4fd;
        }
        .price-b-value{
          background-color: #b1b9fc;
        }
      }
      &-high{
        .price-b-name{
          background-color: #ffe2c2;
        }
        .price-b-value{
          background-color: #ffd6a7;
        }
      }
    }
    &-name,
    &-value{
      @extend .white;
      @extend .bold;
    }
    &-name{
      padding: 10px 0;
      &-title{
        font-size: 21px;
        text-shadow: 0 2px 4px rgba(12,12,17,.14);
        @extend .ttu;
      }
    }
    &-value{
      padding: 20px 0;
      &-title{
        font-size: 41px;
      }
    }
    //LIST
    &-list{
      li{
        padding: 10px 20px;
        border-bottom: 1px solid #e1e6eb;
        &.dash{
          position: relative;
          min-height: 45px;
          &.big{
            min-height: 76px;
          }
          &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -17.5px;
            margin-top: -1px;
            width: 35px;
            height: 2px;
            background-color: #c7d0d9;
          }
          @include resp-max(md){
            display: none;
          }
        }
      }
    }
    &-footer{
      padding-top: 25px;
      position: absolute;
      bottom: 30px;
      min-height: 156px;
      width: 100%;
      p{
        min-height: 25px;
        margin-bottom: 15px;
      }
    }
  }
}
.review{
  &-b{
    @extend .cf;
    @include resp-min(lg){
      &-img,
      &-text{
        float: left;
      }
      &-img{
        margin-top: 40px;
        width: 125px;
      }
      &-text{
        width: 415px;
        min-height: 260px;
      }      
    }
    @include resp-max(lg){
      &-img{
        position: relative;
        top: 5px;
      }
      @include resp-min(sm){
        &-text{
          min-height: 360px;
        }
      }
    }
    @include resp-max(sm){
      margin-bottom: 30px;
    }
    &-img{
      @extend .max-lg-center;
    }
    &-text{
      
      padding: 15px;
      border-left-width: 10px;
      border-left-style: solid;
      @extend .bg-grey;
      &.blue-border{
        border-left-color: #a9e0fb;
      }
      &.green-border{
        border-left-color: #9dede8;
      }
      &-title{
        padding-left: 15px;
        margin-bottom: 15px;
      }
      &-text{
        font-size: 14px;
      }
    }
  }
}
.panel{
  &-head{
    padding: 15px;
    border-bottom: 1px solid #d9dee3;
    &:hover{
      cursor: pointer;
    }
    &-title{
      font-size: 25px;
      position: relative;
      padding-left: 30px;
      &:after{
        content: "+";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -17.5px;
        width: 20px;
        text-align: center;
        font-size: inherit;
        color: inherit;
      }
    }
  }
  &-body{
    padding: 15px;
    display: none;
  }
  &-parent-open{
    .panel-head{
      background-color: #f0f0f0;
      &-title{
        &:after{
          content: "-";
        }
      }
    }
  }
}